<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases> <!--  자주 사용하는 DTO 를 이렇게 적어두는 방법 -->
	  <typeAlias type="userpage.main.userDTO" alias="userDTO" />
	  <typeAlias type="jejuguseok.map.mapDTO" alias="mapDTO" />
	  <typeAlias type="userpage.board.otoDTO" alias="otoDTO" />
	  <typeAlias type="jejuguseok_map.ItemDTO" alias="ItemDTO" /> 
	</typeAliases>




	<!-- mybatis의 컨트롤러 라 생각하면 됨. -->
	

	
	
	<!-- SQL작성하는 공간(파일) mybatis에서 사용하는 Sql파일은 모두 나열한다. -->
	<mappers>
		<!--  <mapper resource="/resources/mappers/otoMapper.xml" />-->
		<mapper resource="/mapsql/mapSQL.xml"/>
		
		<mapper resource="/userpageSQL/userSQL.xml"/>
		
		<mapper resource="/ItemSQL/attraction_homeSQL.xml"/>
	</mappers>
	
</configuration>